<div class="formContainer">
    <div class="logoContainer">
        <img src="./img/vrLogo.png" alt="Global logo">
    </div>
    <form id="formLogin" method="post">
        <label for="username">
            <input type="username" name="username" id="username" placeholder="Usuario">
        </label>
        <label for="password">
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </label>
        <button type="submit">INGRESAR</button>
        <p class="loginLog"></p>
    </form>
</div>
<script src="./js/login.js"></script>