@font-face {
    font-family: OverpassBold;
    src: url('../public/fonts/Overpass-Bold.ttf');
}

@font-face {
    font-family: MontHeavy;
    src: url('../public/fonts/Mont-Heavy.otf');
}

@font-face {
    font-family: MontBold;
    src: url('../public/fonts/Mont-Bold.otf');
}

@font-face {
    font-family: MontSemiBold;
    src: url('../public/fonts/Mont-SemiBold.otf');
}

@font-face {
    font-family: OverpassRegular;
    src: url('../public/fonts/Overpass-Regular.ttf');
}

@font-face {
    font-family: MontBook;
    src: url('../public/fonts/Mont-Book.otf');
}

@font-face {
    font-family: MontLight;
    src: url('../public/fonts/Mont-Light.otf');
}



$font7: 'OverpassBold', sans-serif;
$font6: 'MontHeavy', sans-serif;
$font5: 'MontBold', sans-serif;
$font4: 'MontSemiBold', sans-serif;
$font3: 'MontRegular', sans-serif;
$font2: 'MontBook', sans-serif;
$font1: 'MontLight', sans-serif;